[submodule "third_party/open-android-auto"]
	path = third_party/open-android-auto
	url = https://github.com/mrmees/open-android-auto.git
[submodule "third_party/hp-omni-button-fix"]
	path = third_party/hp-omni-button-fix
	url = https://github.com/nemocrk/hp-omni-button-fix.git
